## Multiline statements

In [1]:
 a=1+2+\
    3+5\
    +6
a

17

In [3]:
a,b,c=1,2,3

In [4]:
b

2

In [5]:
a=1+2j

In [6]:
type(a)

complex

In [7]:
x=3
y=3
print(id(x))
print(id(y))

140703340242784
140703340242784

In [10]:
a=10

In [11]:
type(a)

int

In [12]:
float(a)

10.0

In [14]:
student='Mahesh'
num=100
print(student+" got "+str(num)+' marks ')

Mahesh got 100 marks

# List and Tuple

In [15]:
a=[1,2.0,'Mahesh',5]

In [16]:
a[2]

'Mahesh'

In [17]:
a[2]=3
a

[1, 2.0, 3, 5]

In [18]:
a=(1,2,3)

In [19]:
a[2]=4

TypeError: 'tuple' object does not support item assignment

## Set and dictionary

In [20]:
s={1,2,1,3,2,3,31,1,4}
s

{1, 2, 3, 4, 31}

In [21]:
dic={1:'Mahesh','b':'100 marks'}

In [22]:
type(dic)

dict

In [25]:
dic[1]

'Mahesh'

In [26]:
dic['b']

'100 marks'

## output formatting

In [42]:
a=10
b=20
print('the value of a is {} and b is {}'.format({0:a,1:b}))

IndexError: Replacement index 1 out of range for positional args tuple

## fstring

In [ ]:
print(f"{cols} - {df[f'{cols}'].nunique()}")

## how to take i/p in python

In [43]:
n=input('Enter a num')
n

Enter a num5

'5'

In [45]:
num=[1,2,3,4,5]

In [46]:
len(num)

5

In [47]:
num.append('one')
num

[1, 2, 3, 4, 5, 'one']

In [48]:
num.insert(1,'four')
num

[1, 'four', 2, 3, 4, 5, 'one']

In [49]:
num.remove('four')
num

[1, 2, 3, 4, 5, 'one']

In [51]:
if 1 in num:
    print('present')
else :
    print('absent')

present

In [56]:
num.reverse()
num

['one', 5, 4, 3, 2, 1]

In [57]:
s='this is a demo'
list(s)

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 'd', 'e', 'm', 'o']

In [58]:
s.split(' ')

['this', 'is', 'a', 'demo']

In [59]:
num[:]

['one', 5, 4, 3, 2, 1]

In [60]:
num[0:3]

['one', 5, 4]

In [62]:
num[1::2]

[5, 3, 1]

In [63]:
l=[1,2,1,1,1,2]
l.count(1)

4

# Ways of defining a dataframe

In [65]:
import pandas as pd

## using dictionary

In [66]:
weather_data = {
    'day':['Mon','Tue','Wed'],
    'Temp':[32,21,24],
    'event':['Rain','snowy','sunny']
}

df=pd.DataFrame(weather_data)
df

   day  Temp  event
0  Mon    32   Rain
1  Tue    21  snowy
2  Wed    24  sunny

#All small cases are  methods and

## Using list of tuples

In [69]:
weather_data =[
    ('mon',32,'Rain'),
    ('tue',35,'snowy'),
    ('wed',32,'sunny')
]

df=pd.DataFrame(data=weather_data,columns=['day','temp','event'])
df

   day  temp  event
0  mon    32   Rain
1  tue    35  snowy
2  wed    32  sunny

## Using list of Dictionaries

In [72]:
weather_data = [
    {'day':'Mon','temp':32,'event':'Rain'},
    {'day':'Mon','temp':32,'event':'Rain'},
    {'day':'Mon','temp':32,'event':'Rain'}
]

df=pd.DataFrame(data=weather_data,columns=['day','temp','event'])
df

   day  temp event
0  Mon    32  Rain
1  Mon    32  Rain
2  Mon    32  Rain

## Accessing data in a dataframe using loc and iloc

In [81]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8],[1,5]],
      index=['a', 'b', 'c','d'],
      columns=['speed', 'dist'])
df

   speed  dist
a      1     2
b      4     5
c      7     8
d      1     5

In [93]:
df.loc['a':'d','dist']

a    2
b    5
c    8
d    5
Name: dist, dtype: int64

In [97]:
df.loc[df['dist']>5]

   speed  dist
c      7     8

In [99]:
df.loc[df['dist']>2,['speed']]

   speed
b      4
c      7
d      1

In [103]:
df.loc[['a','b'],['speed']] = 50
df

   speed  dist
a     50     2
b     50     5
c      7     8
d      1     5

In [104]:
df.loc['c']=10
df

   speed  dist
a     50     2
b     50     5
c     10    10
d      1     5

In [110]:
df.loc[ :'b' ,'speed']=40
df

   speed  dist
a     40     2
b     40     5
c     40    10
d     30     5