# Python Practical Session - 22/07/2021

## Importing required libraries

In [2]:
import pandas as pd
import os

## Merging all files into one file

In [3]:
files = [file for file in os.listdir('./Data')]
for file in files:
    print(file)

lbhf_spend_data_q3_2019_20_0 (1).xlsx
spend_data_jan-mar_2020_0.xlsx
spend_data_q1_2019-20_0.xlsx
spend_data_q2_2019-20_0.xlsx

In [5]:
all_data = pd.DataFrame()

for file in files:
    df = pd.read_excel('./Data/'+file)
    all_data = pd.concat([all_data,df])

all_data.to_csv('all_data.csv',index=False)

## Reading the merged file

In [6]:
data = pd.read_csv('all_data.csv')
data.head()

C:\Users\Gatla Mahesh Reddy\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Organisation,Vendor No,Supplier Name,Document Number,Payment Date,Invoice Date,Cost Centre,Cost Centre Description,GL Account description,GL Account Code,Amount (D/C)
0,LBHF,1.23814e+06,Greenham Trading Ltd,2200033380,2019-10-01 00:00:00,2019-06-11,H78340,Health and Safety,Stationery,4706,65.47
1,LBHF,1.24299e+06,Cavendish Construction Ltd,2200033385,2019-10-01 00:00:00,2019-08-06,H78255,Repairs and Maintenance,Plan R&M-Rep & Maint,3702,1460.00
2,LBHF,1.24299e+06,Cavendish Construction Ltd,2200033379,2019-10-01 00:00:00,2019-08-21,H78255,Repairs and Maintenance,Plan R&M-Rep & Maint,3702,977.90
3,LBHF,1.25856e+06,RCKa Limited,2200033426,2019-10-01 00:00:00,2019-08-28,H28139,Nourish,E12:Bldng Maint&Impr,7921,8015.00
4,LBHF,1.23772e+06,Askews & Holts Library Service,3110058122,2019-10-01 00:00:00,2019-09-04,H26315,Libraries Content & Resources,"Books, DVDs and CDs",4539,110.38

In [7]:
data.dtypes

Organisation                object
Vendor No                   object
Supplier Name               object
Document Number              int64
Payment Date                object
Invoice Date                object
Cost Centre                 object
Cost Centre Description     object
GL Account description      object
GL Account Code              int64
Amount (D/C)               float64
dtype: object

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108417 entries, 0 to 108416
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Organisation             108417 non-null  object
 1   Vendor No                108406 non-null  object
 2   Supplier Name            108406 non-null  object
 3   Document Number          108417 non-null  int64
 4   Payment Date             108417 non-null  object
 5   Invoice Date             108417 non-null  object
 6   Cost Centre              108404 non-null  object
 7   Cost Centre Description  108403 non-null  object
 8   GL Account description   108417 non-null  object
 9   GL Account Code          108417 non-null  int64
 10  Amount (D/C)             108417 non-null  float64
dtypes: float64(1), int64(2), object(8)
memory usage: 9.1+ MB

In [12]:
data.shape

(108417, 11)

In [13]:
nan_df = data[data.isna().any(axis=1)]
nan_df

,Organisation,Vendor No,Supplier Name,Document Number,Payment Date,Invoice Date,Cost Centre,Cost Centre Description,GL Account description,GL Account Code,Amount (D/C)
2476,LBHF,NaN,NaN,2200034678,2019-10-14 00:00:00,2019-10-10,NaN,NaN,Catering,4665,205.00
4792,LBHF,NaN,NaN,2200034968,2019-10-16 00:00:00,2019-10-15,NaN,NaN,Training Expenses,3105,269.00
4793,LBHF,NaN,NaN,2200034970,2019-10-16 00:00:00,2019-10-15,NaN,NaN,Training Expenses,3105,99.00
8396,LBHF,NaN,NaN,2200036631,2019-10-30 00:00:00,2019-10-29,NaN,NaN,Catering,4665,160.00
8397,LBHF,NaN,NaN,2200036632,2019-10-30 00:00:00,2019-10-29,NaN,NaN,Catering,4665,240.00
8398,LBHF,NaN,NaN,2200036633,2019-10-30 00:00:00,2019-10-29,NaN,NaN,Catering,4665,265.00
19740,LBHF,1.24248e+06,Abu Zaad Ltd T/A Abu Zaad,2200041725,2019-12-10 00:00:00,2019-12-10,NaN,NaN,Catering,4665,200.00
23406,LBHF,NaN,NaN,2200042619,2019-12-17 00:00:00,2019-12-16,NaN,NaN,Activities & Events,4800,750.00
23407,LBHF,NaN,NaN,2200042620,2019-12-17 00:00:00,2019-12-16,NaN,NaN,Activities & Events,4800,1390.00
23501,LBHF,NaN,NaN,2200042652,2019-12-17 00:00:00,2019-12-17,NaN,NaN,Training Expenses,3105,4500.00
24653,LBHF,1.24248e+06,Abu Zaad Ltd T/A Abu Zaad,2200043046,2019-12-20 00:00:00,2019-12-18,NaN,NaN,Catering,4665,300.00
25111,LBHF,NaN,NaN,2200043449,2019-12-30 00:00:00,2019-12-19,NaN,NaN,Training Expenses,3105,580.00
25157,LBHF,NaN,NaN,2200043448,2019-12-30 00:00:00,2019-12-24,NaN,NaN,Activities & Events,4800,2375.00
25463,LBHF,1.23725e+06,2 Care UK Ltd,3110081046,2020-01-27 00:00:00,2020-01-20,H21710,NaN,OE-Supp Living-Adult,5688,1960.49

In [14]:
data = data.dropna(how='any')

In [18]:
temp_df = data[data['Payment Date']=='#']
temp_df.head()

Empty DataFrame
Columns: [Organisation, Vendor No, Supplier Name, Document Number, Payment Date, Invoice Date, Cost Centre, Cost Centre Description, GL Account description, GL Account Code, Amount (D/C)]
Index: []

In [17]:
data = data[data['Payment Date']!='#']

In [19]:
data['Payment Date'] = pd.to_datetime(data['Payment Date'])
data['Invoice Date'] = pd.to_datetime(data['Invoice Date'])

In [20]:
data['Document Number']=data['Document Number'].astype('str')
data['Vendor No'] = data['Vendor No'].astype('str')

## Define functions to extract year and quarter from the dates

In [22]:
def get_payment_year(x):
    return x.year

def get_payment_quarter(y):
    return y.quarter

def get_Q(x):
    return 'Q'

In [33]:
data['Payment Quarter'] = data['Payment Date'].apply(lambda x: f"{get_Q(x)}{get_payment_quarter(x)},{get_payment_year(x)}" )
data['Invoice Quarter'] = data['Invoice Date'].apply(lambda x: f"{get_Q(x)}{get_payment_quarter(x)},{get_payment_year(x)}" )
data.head()

,Organisation,Vendor No,Supplier Name,Document Number,Payment Date,Invoice Date,Cost Centre,Cost Centre Description,GL Account description,GL Account Code,Amount (D/C),Payment Quarter,Invoice Quarte,Invoice Quarter
0,LBHF,1238143.0,Greenham Trading Ltd,2200033380,2019-10-01,2019-06-11,H78340,Health and Safety,Stationery,4706,65.47,"Q4,2019","Q2,2019","Q2,2019"
1,LBHF,1242990.0,Cavendish Construction Ltd,2200033385,2019-10-01,2019-08-06,H78255,Repairs and Maintenance,Plan R&M-Rep & Maint,3702,1460.00,"Q4,2019","Q3,2019","Q3,2019"
2,LBHF,1242990.0,Cavendish Construction Ltd,2200033379,2019-10-01,2019-08-21,H78255,Repairs and Maintenance,Plan R&M-Rep & Maint,3702,977.90,"Q4,2019","Q3,2019","Q3,2019"
3,LBHF,1258559.0,RCKa Limited,2200033426,2019-10-01,2019-08-28,H28139,Nourish,E12:Bldng Maint&Impr,7921,8015.00,"Q4,2019","Q3,2019","Q3,2019"
4,LBHF,1237724.0,Askews & Holts Library Service,3110058122,2019-10-01,2019-09-04,H26315,Libraries Content & Resources,"Books, DVDs and CDs",4539,110.38,"Q4,2019","Q3,2019","Q3,2019"

In [34]:
data['Payment Quarter'].value_counts()

Q1,2020    28335
Q3,2019    27017
Q4,2019    26595
Q2,2019    25467
Q2,2020      421
Name: Payment Quarter, dtype: int64

In [35]:
data['Invoice Quarter'].value_counts()

Q3,2019    28205
Q4,2019    26546
Q1,2020    25753
Q2,2019    23748
Q1,2019     3438
Q4,2018      106
Q3,2018       12
Q1,2018        8
Q2,2018        7
Q4,2017        6
Q3,2017        3
Q4,2009        1
Q2,2017        1
Q4,2010        1
Name: Invoice Quarter, dtype: int64

In [37]:
import ipywidgets as widgets
from ipywidgets import interact

In [54]:
def show_top(n,qtr):
    quart = data[data['Payment Quarter']==qtr]
    a=quart.groupby(['Supplier Name','Cost Centre Description','GL Account description']).sum()
    a=a.nlargest(int(n),"Amount (D/C)")
    return a

In [55]:
interact(show_top,n="10",qtr=data['Payment Quarter'].unique())

interactive(children=(Text(value='10', description='n'), Dropdown(description='qtr', options=('Q4,2019', 'Q1,2â€¦